code {
	background-color:  #ffcccc;
}

pre {
background-color: #ffcccc;	
width: 50vw;
}

samp{
	background-color:  #ffffcc;
	font-size: 1.2em;
}
samp:before {
    content: "$";
    margin-right: 6px;
}