code {
	background-color: #dddddd;
	display: inline-block;
	padding: 3px;
	font-size: 1em;
}

samp{
	background-color:  #ffffcc;
	font-size: 1.2em;
}
samp:before {
    content: "$";
    margin-right: 6px;
}