code {
	background-color: #dddddd;
	display: inline-block;
	padding: 3px;
	font-size: 1em;
}

samp{
	background-color:  #ffffcc;
	font-size: 1.2em;
}
samp:before {
    content: "$";
    margin-right: 6px;
}

footer {
	border-top: 1px black solid;
	padding-top: 5px;
	margin-top: 20px;
}

header > h1{
	border-bottom: double;
}

h1 {
	border-bottom: 2px black solid
}


@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;  Black prints faster 
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    nav, header{
    	display: none;
    }

	code {
		display: inline-block;
		font-style: italic;
	}

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    samp {
		font-weight: bold;
	}
	samp:before {
		content: none;
		margin-right: initial;
	}		

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}